.pagination-numerique {
  display: flex;
}

.pagination-numerique > button {
  margin-left: 5px;
  margin-right: 5px;
}

.pagination-numerique > button:hover {
  background-color: rgba(0, 0, 0, 0.259);
}

.actual {
  background-color: rgb(149, 229, 149);
}
