html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  background-color: rgb(241, 241, 241);
  padding: 3%;
  padding-top: 0;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}

main > div > div{
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  background-color: rgb(214, 214, 214);
  padding: 3%;
  text-align: center;
  flex-shrink: 0;
}

h1 {
  text-align: center;
}

table,
div {
  margin: 1%;
}

td {
  border-style: solid;
  border-width: 2px;
}

table {
  width: 50%;
}

table,
.pagination-numerique {
  margin-left: auto;
  margin-right: auto;
}

button,
table {
  background-color: white;
}

.minecraft_png{
  height: 30px;
  width: 30px;
}